*{
    margin: 0;
    padding: 0;
    color: white;
}
.container{
    background: rgb(0, 7, 3);
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.content{
    display: flex;
    justify-content: center;
}
.searchBar{
    margin-top: 8%;
    margin-bottom: 0%;
}
input{
    background: rgb(0, 37, 17);
    outline-style: none;
    width: 550px;
    height:50px;
    border-radius: 50px;
    display: flex;
    border: 2px solid white;
    padding-left: 15px;
    font-size: 20px;

}


